*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --tweakers-red: #cc0033;
    --tweakers-lighter-gray: #66727d;
    --tweakers-light-gray: #414950;
    --tweakers-gray: #2e3338;
    --tweakers-dark-gray: #272b2f;
}

button{
    cursor: pointer;
}

html {
    font-size: 62.5%;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header__section1{
    display: flex;
    height: 5rem;
    background: var(--tweakers-red);
    width: 100%;
    gap: 2rem;
}

.header__logo{
    height: 100%;
    padding-left: 1rem;
}

.header__button{
    background: none;
    border: none;
    font-size: 2rem;
    color: white;
}

.header__section2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background: var(--tweakers-gray);
    width: 100%;
}

.header__search{
    width: 40%;
    height: 55%;
    background: var(--tweakers-dark-gray);
    border: solid 1px var(--tweakers-light-gray);
    padding-left: 1rem;
}

main{
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--tweakers-dark-gray);
    gap: 5rem;
}

.news__article{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    color: white;
    background-color: var(--tweakers-gray);
    gap: 1rem;
}

.article__description{
    font-size: 2rem;
}

.article__title{
    color: white;
    text-decoration: none;
    font-size: 3rem;
}

.article__img{
    width: 100%;
}

.article__button{
    background-color: var(--tweakers-dark-gray);
    color: white;
    border-radius: 1rem;
    height: 4rem;
    width: 10rem;
    border: solid 1px var(--tweakers-light-gray);
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10rem;
    background-color: var(--tweakers-gray);
    color: var(--tweakers-lighter-gray);
    font-size: 2rem;
}